{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.ui-autocomplete {
    background: #FFF;
    border-radius: 0px;
		list-style: none;
}

{% endblock %}
</style>

{% block content %}
	<h2>{{ title }} - {{student.first_name}} {{student.last_name}}</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Class Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for c in classes %}
        <tr>
          <td>{{c.name}}</td>
          <td>{{c.description}}</td>
          <td class="text-center"><a class="btn btn-primary" href="?student={{student.id}}&class={{c.id}}"><i class="fa fa-fw fa-plus"></i> Add Student</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </ul>
</div>


{% endblock %}
