{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
	border-color: transparent !important;
}

.ui-autocomplete {
	background: #FFF;
	border-radius: 0px;
	list-style: none;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

{% endblock %}
</style>

{% block content %}
<div class="row">
<div class="panel panel-info mt-2x">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.first_name}} {{user.last_name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh3.googleusercontent.com/-5WOgaQFPIDs/AAAAAAAAAAI/AAAAAAAAAAA/1TKttgWSKUM/photo.jpg" width="300px" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Physics</td>
                      </tr>
                      <tr>
                        <td>Plan:</td>
                        {% if user.user_type == 'TE' %}
                        <td>Teacher</td>
                        {% elif user.user_type == 'ST'%}
                        <td>Student</td>
                        {% else %}
                        <td>School</td>
                        {% endif %}

                      </tr>
                      <tr>
                        <td>Date of Birth:</td>
                        <td>{{user.date_of_birth}}</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Date Joined:</td>
                        <td>{{user.date_joined}}</td>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                      </tr>
                      {% if teacher %}
                        <td>School:</td>
                        <td>{{teacher.school}}</td>
                      </tr>
                        <td>Location:</td>
                        <td>{{teacher.city}}, {{teacher.country}}</td>
                      </tr>
                      {% endif %}

                    </tbody>
                  </table>
                  {% if teacher %}
                  <a href="#" class="btn btn-primary">My Classes Performance</a>
                  <a href="#" class="btn btn-primary">Student Performance</a>
                  {% endif %}
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="#" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>

          </div>
</div>
{% endblock %}
