{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
	border-color: transparent !important;
}

.ui-autocomplete {
	background: #FFF;
	border-radius: 0px;
	list-style: none;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

{% endblock %}
</style>


{% block jumbotron %}

{% endblock %}




{% block content %}
<h1>{{title}} - {{quiz.title}}</h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          True/False Question
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
				<form method="POST" action="true/">
					{% csrf_token %}
					<div class="form-group hidden">
						<label class="control-label" for="title">Quiz:</label>
						{{form_t.quiz|add_class:"form-control" | attr:"required:required"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Question:</label>
						{{form_t.content|add_class:"form-control" | attr:"required:required"}}
					</div>
					<div class="form-group">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary">
								{{form_t.correct | attr:"autocomplete:off"}}
								<span class="glyphicon glyphicon-ok"></span>
							</label>
						</div>
						Correct
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Explanation:</label>
						{{form_t.explanation|add_class:"form-control"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Figure:</label>
						{{form_t.figure}}
					</div>
					<button class="btn btn-success btn-lg pull-right" type="submit">Add Question</button>
				</form>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Multiple Choice Question
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
				<form method="POST" action="multiple/">
					{% csrf_token %}
					<div class="form-group hidden">
						<label class="control-label" for="title">Quiz:</label>
						{{form_q.quiz|add_class:"form-control" | attr:"required:required"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Question:</label>
						{{form_q.content|add_class:"form-control" | attr:"required:required"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Explanation:</label>
						{{form_q.explanation|add_class:"form-control"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Figure:</label>
						{{form_q.figure}}
					</div>
					<div id="mcanswers" class="form-group">
						<label class="control-label" for="title">Answers:</label>
						<div class="input-group mc">
				      <span class="input-group-addon">
				        <input id="correct-1" name="correct-1" type="checkbox" aria-label="...">
				      </span>
				      <input id="content-1" name="content-1" type="text" class="form-control" aria-label="...">
				    </div>
					</div>
					<a id="answer" class="btn icon-btn btn-primary active"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
					<button class="btn btn-success btn-lg pull-right" type="submit">Add Question</button>
				</form>
			</div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Essay Question
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
				<form method="POST" action="essay/">
					{% csrf_token %}
					<div class="form-group hidden">
						<label class="control-label" for="title">Quiz:</label>
						{{form_e.quiz|add_class:"form-control" | attr:"required:required"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Question:</label>
						{{form_e.content|add_class:"form-control" | attr:"required:required"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Explanation:</label>
						{{form_e.explanation|add_class:"form-control"}}
					</div>
					<div class="form-group">
						<label class="control-label" for="title">Figure:</label>
						{{form_e.figure}}
					</div>
					<button class="btn btn-success btn-lg pull-right" type="submit">Add Question</button>
				</form>
			</div>
    </div>
  </div>
</div>
<a class="btn btn-primary btn-lg pull-right" href="../view" role="button">Review Quiz</a>
<script>
	$(document).ready(function() {
		$("#answer").click(function(){
				var n = $( ".mc" ).length + 1;
				$("#mcanswers").append('<div class="input-group mc"><span class="input-group-addon"><input id="correct-' + n + '" name="correct-' + n + '" type="checkbox" aria-label="..."></span><input id="content-' + n + '" name="content-' + n + '" type="text" class="form-control" aria-label="...">	</div>');
		});

		$('select option[value="{{quiz_id}}"]').attr("selected",true);
	});
</script>

	{% endblock %}
