{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.ui-autocomplete {
    background: #FFF;
    border-radius: 0px;
		list-style: none;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}

{% endblock %}
</style>


{% block jumbotron %}

{% endblock %}




{% block content %}
<div class="row">
	<div class="stepwizard mt-2x">
	    <div class="stepwizard-row setup-panel">
	        <div class="stepwizard-step">
	            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
	            <p>Quiz Information</p>
	        </div>
	        <div class="stepwizard-step">
	            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
	            <p>Quiz Grading</p>
	        </div>
	        <div class="stepwizard-step">
	            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
	            <p>Additional Options</p>
	        </div>
	    </div>
	</div>
	<form role="form" method="POST">
		{% csrf_token %}
	    <div class="row setup-content" id="step-1">
	        <div class="col-xs-12">
	            <div class="col-md-12">
	                <h3> Quiz Information</h3>
									<div class="form-group">
								    <label class="control-label" for="title">Quiz Name:</label>
										{{form.title|add_class:"form-control" | attr:"required:required"}}
								  </div>
									<div class="form-group">
								    <label class="control-label" for="category">Category:</label>
										{{form.category|add_class:"form-control"}}
								  </div>
									<div class="form-group">
								    <label class="control-label" for="description">Description:</label>
										{{form.description|add_class:"form-control"}}
								  </div>
	                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
	            </div>
	        </div>
	    </div>
			<script>
			$(function() {
				var availableTags = [
					{% for lecture in class_lectures %}
						"{{lecture.title}}",
					{% endfor %}
				];
				function split( val ) {
					return val.split( /,\s*/ );
				}
				function extractLast( term ) {
					return split( term ).pop();
				}

				$( "#id_category" )
					// don't navigate away from the field on tab when selecting an item
					.bind( "keydown", function( event ) {
						if ( event.keyCode === $.ui.keyCode.TAB &&
								$( this ).autocomplete( "instance" ).menu.active ) {
							event.preventDefault();
						}
					})
					.autocomplete({
						minLength: 0,
						source: function( request, response ) {
							// delegate back to autocomplete, but extract the last term
							response( $.ui.autocomplete.filter(
								availableTags, extractLast( request.term ) ) );
						},
						focus: function() {
							// prevent value inserted on focus
							return false;
						},
						select: function( event, ui ) {
							var terms = split( this.value );
							// remove the current input
							terms.pop();
							// add the selected item
							terms.push( ui.item.value );
							// add placeholder to get the comma-and-space at the end
							terms.push( "" );
							this.value = terms.join( ", " );
							return false;
						}
					});
			});
			</script>
	    <div class="row setup-content" id="step-2">
	        <div class="col-xs-12">
	            <div class="col-md-12">
	                <h3> Quiz Grading</h3>
									<div class="form-group">
								    <label class="control-label" for="pass_mark">Pass mark:</label>
										{{form.pass_mark|add_class:"form-control" | attr:"required:required"}}
								  </div>
									<div class="form-group">
								    <label class="control-label" for="success_text">Success Text:</label>
										{{form.success_text|add_class:"form-control"}}
								  </div>
									<div class="form-group">
								    <label class="control-label" for="fail_text">Fail Text:</label>
										{{form.fail_text|add_class:"form-control"}}
								  </div>
	                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
	            </div>
	        </div>
	    </div>
	    <div class="row setup-content" id="step-3">
	        <div class="col-xs-12">
	            <div class="col-md-12">
	                <h3> Additional Options</h3>
									<div class="form-group">
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												{{form.random_order | attr:"autocomplete:off"}}
												<span class="glyphicon glyphicon-ok"></span>
											</label>
										</div>
										Random Order
								  </div>
									<div class="form-group">
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												{{form.answers_at_end | attr:"autocomplete:off"}}
												<span class="glyphicon glyphicon-ok"></span>
											</label>
										</div>
										Answers at end
								  </div>
									<div class="form-group">
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												{{form.exam_paper | attr:"autocomplete:off"}}
												<span class="glyphicon glyphicon-ok"></span>
											</label>
										</div>
										Exam Paper
								  </div>
									<div class="form-group">
										<div class="btn-group" data-toggle="buttons">
											<label class="btn btn-primary">
												{{form.single_attempt | attr:"autocomplete:off"}}
												<span class="glyphicon glyphicon-ok"></span>
											</label>
										</div>
										Single Attempt
								  </div>
	                <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
	            </div>
	        </div>
	    </div>
	</form>
</div>

	<!-- <h2>{{ title }}</h2>
	<div class="row">
		{% if response %}
			{{response | safe}}
		{% endif %}

    <form method="POST" action="">{% csrf_token %}
			{% if mult %}
				{{ form_q | crispy}}
				<hr/>
				<h3> Answers </h3>
				{{ form_a | crispy}}
			{%else%}
			{{ form | crispy}}
			{% endif %}
			<script type="text/javascript">
			 $(function() {
					 var availableTags = [
						 {%for category in categories%}
							 "{{ category }}",
						 {% endfor %}
					 ];
					 $( "#id_category" ).autocomplete({
						 source: availableTags
					 });
			 });
			</script>
      <input type="submit" class="btn btn-primary" value="Add Questions">
    </form>
</div> -->
<script src="{% static 'js/form-wizard.js' %}"></script>
{% endblock %}
