{% extends "dashboard/base.html" %}
{% load widget_tweaks %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block style %}
.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
{% endblock %}

{% block content %}
<h2>{{ quiz.title }}</h2>
<h3>Category: {{ quiz.category }}</h3>
<p>{{ quiz.description }}</p>
<div class="row">
{% if form_t %}
<div class="col-xs-12">
  <form method="POST" action="true/">
    {% csrf_token %}
    <div class="form-group hidden">
      <label class="control-label" for="title">Quiz:</label>
      {{form_t.quiz|add_class:"form-control" | attr:"required:required"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Question:</label>
      {{form_t.content|add_class:"form-control" | attr:"required:required"}}
    </div>
    <div class="form-group">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary {% if form_t.correct.value %}active{% endif %} ">
          {{form_t.correct | attr:"autocomplete:off"}}
          <span class="glyphicon glyphicon-ok"></span>
        </label>
      </div>
      Correct
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Explanation:</label>
      {{form_t.explanation|add_class:"form-control"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Figure:</label>
      {{form_t.figure}}
    </div>
    <button class="btn btn-success btn-lg pull-right" type="submit">Update Question</button>
  </form>
</div>
{% endif %}

{% if form_q %}
<div class="col-xs-12">
  <form method="POST" action="multiple/">
    {% csrf_token %}
    <div class="form-group hidden">
      <label class="control-label" for="title">Quiz:</label>
      {{form_q.quiz|add_class:"form-control" | attr:"required:required"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Question:</label>
      {{form_q.content|add_class:"form-control" | attr:"required:required"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Explanation:</label>
      {{form_q.explanation|add_class:"form-control"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Figure:</label>
      {{form_q.figure}}
    </div>
    <div id="mcanswers" class="form-group">
      <label class="control-label" for="title">Answers:</label>
      {% for answers in mcanswers %}
      <div class="input-group mc">
        <span class="input-group-addon">
          <input id="correct-{{ forloop.counter }}" name="correct-{{ forloop.counter }}" type="checkbox" {% if answers.correct %}checked{% endif %}/>
        </span>
        <input id="content-{{ forloop.counter }}" name="content-{{ forloop.counter }}" type="text" class="form-control" aria-label="..." value="{{answers.content}}">
        <input id="answer-{{ forloop.counter }}" name="answer-{{ forloop.counter }}" type="text" class="form-control hidden" value="{{answers.id}}">
      </div>
      {% endfor %}
    </div>
    <button class="btn btn-success btn-lg pull-right" type="submit">Update Question</button>
  </form>
</div>
{% endif %}

{% if form_e %}
<div class="panel-body">
  <form method="POST" action="essay/">
    {% csrf_token %}
    <div class="form-group hidden">
      <label class="control-label" for="title">Quiz:</label>
      {{form_e.quiz|add_class:"form-control" | attr:"required:required"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Question:</label>
      {{form_e.content|add_class:"form-control" | attr:"required:required"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Explanation:</label>
      {{form_e.explanation|add_class:"form-control"}}
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Figure:</label>
      {{form_e.figure}}
    </div>
    <button class="btn btn-success btn-lg pull-right" type="submit">Update Question</button>
  </form>
</div>
{% endif %}

</div>

<script>
	$(document).ready(function() {
		$('select option[value="{{quiz_id}}"]').attr("selected",true);
	});
</script>
{% endblock %}
