{% extends "dashboard/base.html" %}
{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Quiz - {{ quiz.title }}</h2>
    {% if quiz.category %}
      <h3>Category: {{ quiz.category }}</h3>
    {% endif %}
    {% if quiz.description %}
      <p>{{ quiz.description }}</p>
    {% endif %}
  </div>
  <div class="col-md-6 mt">
    <button title="Delete Quiz" type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-fw fa-trash"></i></button>
    <a title="Add Questions" class="btn btn-success pull-right" style="margin-right: 15px;" href="../add_question" role="button"><i class="fa fa-fw fa-plus"></i></a>

  </div>
</div>
{% for question in quiz_content %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{question.number}}. {{question.question}} <a href="{% url 'quiz.views.edit_quiz' quiz_id=quiz_id class_id=class_id question_id=question.question_id %}"><i class="fa fa-fw fa-pencil pull-right edit-btn"></i></a></h3>
    </div>
    <div class="panel-body">
      {% if question.mcanswers %}
        <p style="padding: 20px;">
        {% for answer in question.mcanswers %}
          {% if answer.correct %}
          <strong>{{answer}}</strong>
          {% else %}
          {{answer}}
          {% endif %}<br>
        {% endfor %}
      </p>
      {% endif %}

      {% if question.tfanswers %}
        <p style="padding: 20px;">

        {% if question.tfanswers.correct %}
          <strong>True</strong><br>
          False
        {% else %}
          True<br>
          <strong>False</strong>
        {% endif %}
      </p>
      {% endif %}

      {% if question.explanation %}
      <h5>Explanation:</h5>
      <p class="well">{{question.explanation}}</p>
      {% endif %}
    </div>
  </div>

{% endfor %}
<div id="deleteModal" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Delete Quiz: {{ quiz.title }}</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this quiz?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancel</button>
      <a class="btn btn-success pull-right" style="margin-right:15px;" href="../delete" role="button">Yes, I'm sure</a>

    </div>
  </div>

</div>
</div>
{% endblock %}
