{% extends "dashboard/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <h1>{{title}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        {% if user_type == "TE" %}
        <th>Order</th>
        {% endif %}
        <th>Exam</th>
        <th>Attempts</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for quiz in quizzes %}
      <tr>
        <td>{{quiz.title}}</td>

        {% if quiz.category %}
          <td>{{quiz.category}}</td>
        {% else %}
          <td>N/A</td>
        {% endif %}

        {% if user_type == "TE" %}
          {% if quiz.random_order == 1 %}
            <td>Random</td>
          {% else %}
            <td>By Question</td>
          {% endif %}
        {% endif %}

        {% if quiz.exam_paper == 1 %}
          <td>True</td>
        {% else %}
          <td>False</td>
        {% endif %}
        {% if quiz.single_attempt == 1 %}
          <td>Single</td>
        {% else %}
          <td>Multiple</td>
        {% endif %}
        <td>
          {% if user_type == "TE" %}
            <a class="btn btn-primary" href="{{quiz.id}}/view" role="button">View Quiz</a>
          {% else %}
            <a class="btn btn-primary" href="{{quiz.id}}/take" role="button">View Quiz</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
