{% extends "error/base.html" %}
{% load staticfiles %}
{% block head_title %}{{title}}{% endblock %}


{% block jumbotron %}

<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<img src="{% static error_img %}" width="100%" height="100%"/>
		</div>
		<div class='col-sm-6' >
			<h1>{{error_msg}}</h1>
 		</div>
		</div>
	</div>
 </div>
{% endblock %}
