.navbar-static-top {
  margin-bottom: 19px;
  background-color: #03a9f4;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-brand{
	margin-left: 1em;
}

.navbar-default .navbar-brand:hover {
  color: #323436;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #999;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #FFF !important;
}

.navbar-toggle {
	background-color: #FFF !important;
}
