{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}Newnstein{% endblock %}</title>

    {% include 'head_css.html' %}

      <style>
      {% block style %}{% endblock %}
      </style>

    {% include "javascript.html" %}

  </head>

  <body>
  {% include 'dashboard/navbar.html' %}

    <div id="page-wrapper">
      {% if messages %}
      <div class="messages row">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|safe }}
          </div>
          {% endfor %}
      </div>
      {% endif %}

            {% block content %}

            {% endblock %}


    </div> <!-- /container -->
    <script>
    {% block javascript_footer %}
    {% endblock %}
    </script>
  </body>
</html>
