{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
	border-color: transparent !important;
}

@media (max-width: 768px){
	.date {
		display: none
	}
}
{% endblock %}
</style>


{% block jumbotron %}

{% endblock %}




{% block content %}
<script>
$(document).ready(
	function() {
		var colors = [
			'#E3F2FD', '#BBDEFB', '#90CAF9', '#64B5F6', '#42A5F5', '#2196F3', '#1976D2',
			'#1565C0', '#0D47A1',	'#1a66ff',
			'#FFEBEE', '#FFCDD2', '#EF9A9A', '#E57373', '#EF5350', '#F44336', '#E53935',
			'#D32F2F', '#C62828', '#B71C1C',
			'#E8F5E9', '#C8E6C9', '#A5D6A7', '#81C784', '#66BB6A', '#4CAF50',	'#43A047',
			'#388E3C', '#2E7D32', '#1B5E20',
			'#F9FBE7', '#F0F4C3', '#E6EE9C', '#DCE775', '#D4E157', '#CDDC39', '#C0CA33',
			'#AFB42B', '#9E9D24', '#827717',
		]

		//this variable will keep track of the chart
		var topicTimePieChart = new Array();
		var i = 0;
		{% for topic in topics_stats%}
		var node = {value: "{{topic.duration|date:'His'}}", color: colors[i], label: "{{topic.topic}}"};
		topicTimePieChart.push(node);
		{% if topic.duration|date:'His' != "000000"%}
		i++;
		{% endif %}
		{% endfor %}
		var context = document.getElementById('topic-time-chart-stats').getContext('2d');
		context.canvas.width  = window.innerWidth/2;
		context.canvas.height = window.innerHeight/2;
		var clientsChart = new Chart(context).Pie(topicTimePieChart,{
			animation: true,
			responsive: true,
			tooltipTemplate: "<%= label %>",
		});

		//this variable will keep track of the chart
		var topicVisitPieChart = new Array();
		var i = 20;
		{% for topic in topics_stats%}
		var node = {value: "{{topic.visits}}", color: colors[i], label: "{{topic.topic}}"};
		topicVisitPieChart.push(node);
		{% if topic.visits != 0%}
		i++;
		{% endif %}
		{% endfor %}
		var context = document.getElementById('topic-visits-chart-stats').getContext('2d');
		context.canvas.width  = window.innerWidth/2;
		context.canvas.height = window.innerHeight/2;
		var clientsChart = new Chart(context).Pie(topicVisitPieChart,{
			animation: true,
			responsive: true,
		});

		var html = "";
		{% for stats_lecture in lecture_duration|slice:"0:5"%}
		html += "<tr><td>{{stats_lecture.lecture_id.title}}</td><td>{{stats_lecture.duration|date:'H:i:s'}}</td></tr>";
		{% endfor %}
		$('#lecture_time_table_body > tbody').append(html);

		var html = "";
		{% for stats_lecture in lecture_visits|slice:"0:5"%}
		html += "<tr><td>{{stats_lecture.lecture_id.title}}</td><td>{{stats_lecture.visits}}</td></tr>";
		{% endfor %}
		$('#lecture_visits_table_body > tbody').append(html);

	});
	</script>

	<h2>Dashboard</h2>
	{% if user_type == 'TE' %}
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-pie-chart"></i> <strong>Time per Topic Pie Chart </strong>
			</div>
			<div class="panel-body">
				<canvas id="topic-time-chart-stats"></canvas>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-table"></i> <strong>Top 5 viewed lectures</strong>
				<div class="panel-body">
					<div class="table-responsive" id="statistics-table">
						<table class="table table-bordered table-hover table-striped" id="lecture_time_table_body" name="lecture_time_table_body">
							<thead>
								<tr>
									<th>Lecture</th>
									<th>Time</th>
								</tr>
							</thead>
							<tbody id="lecture_time_table_body" name="lecture_time_table_body">
							</tbody>
						</table>
						<label id="empty_table" name="empty_table"></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-pie-chart"></i> <strong> Visits per Topic Pie Chart </strong>
			</div>

			<div class="panel-body">
				<canvas id="topic-visits-chart-stats"></canvas>
			</div>
		</div>
		<p> </p>
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-table"></i> <strong>Top 5 visited lectures</strong>
				<div class="panel-body">
					<div class="table-responsive" id="statistics-table">
						<table class="table table-bordered table-hover table-striped" id="lecture_visits_table_body" name="lecture_visits_table_body">
							<thead>
								<tr>
									<th>Lecture</th>
									<th>Visits</th>
								</tr>
							</thead>
							<tbody id="lecture_visits_table_body" name="lecture_visits_table_body">
							</tbody>
						</table>
						<label id="empty_table" name="empty_table"></label>
					</div>
				</div>
			</div>
		</div>
	</div>	{%endif%}
	{% if user_type == 'ST' %}
	<div class="row" style="clear: both;">
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Lectures</h3>
					</div>
					<ul class="list-group">
						{% for lecture in lecture_data%}
						<a href="{% url 'dashboard.views.view_lecture' id=lecture.id class_id=class_id %}" class="list-group-item clearfix">
							<big><strong>{{lecture.topic}}</strong></big> - {{lecture.title}}
							<div class="date" style="float:right"><i class="fa fa-clock-o"></i> {{lecture.date_added}}</div>
						</a>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">
							Quizzes</h3>
						</div>
						<ul class="list-group">
							{% for quiz in quiz_data%}
							<a href="{% url 'quiz_start_page' slug=quiz.id class_id=class_id %}" class="list-group-item clearfix">
								<big><strong>{{quiz.title}}</strong></big> - {{quiz.description}}
								<div class="date" style="float:right"><i class="fa fa-clock-o"></i> {{quiz.date_added}}</div>
							</a>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{%endif%}
			{% endblock %}
