{% load staticfiles %}

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dashboard"><img src="{% static 'img/newnstein.png' %}" height="80"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/settings/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle form-control" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              {% if current_class %}
                                {{current_class.name}}
                              {% else %}
                              Settings
                              {% endif %}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              {% for c in classes %}
                                {% if not current_class %}
                                  <li><a href="/{{c.id}}">{{c.name}}</a></li>
                                {% elif c.id != current_class.id %}
                                  <li><a href="/{{c.id}}">{{c.name}}</a></li>
                                {% endif %}
                              {% endfor %}
                              <li><a href="/settings/class/view/">View All Classes</a></li>
                            </ul>
                          </div>
                        </li>
                        {% if current_class %}
                        <li>
                            <a href="/{{class_id}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil fa-fw"></i> Lessons<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              {% if user_type == 'TE' or user_type == 'SC' %}
                              <li>
                                  <a href="/{{class_id}}/teacher/lecture/add"><i class="fa fa-plus-circle"></i>  Add Lecture</a>
                              </li>
                              {% endif %}
                              {% for topic in topics %}
                                <li><a> {{topic}} <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                {% for lecture in nav_list %}
                                    {% if topic == lecture.topic %}
                                    <li>
                                        <a href="{% url 'dashboard.views.view_lecture' id=lecture.id class_id=class_id %}">{{lecture.title}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                              </ul>
                              </li>
                              {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-text-o fa-fw"></i> Quizzes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                              {% if user_type == 'TE' %}
                                <li> <a href="/{{class_id}}/teacher/quizzes/add/"><i class="fa fa-plus-circle"></i>  Create Quiz</a></li>
                                <li> <a href="/{{class_id}}/quizzes/marking/"><i class="fa fa-pencil-square-o"></i>  Grade Quizzes</a></li>
                              {%endif%}
                              <li>
                                  <a href="/{{class_id}}/quizzes"><i class="fa fa-eye"></i> View All Quizzes</a>
                              </li>
                              {% if user_type == 'ST' %}
                                <li> <a href="/{{class_id}}/quizzes/progress"><i class="fa fa-graduation-cap"></i> View Quiz Results</a></li>
                              {%endif%}

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-gamepad fa-fw"></i> Exercises<span class="fa arrow"></span></a>
                              <ul class="nav nav-second-level">
                                {% for exercise in exercises %}
                                  <li>
                                      <a href="/{{class_id}}/exercises/view/{{exercise.url}}">{{exercise.name}}</a>
                                  </li>
                                {% endfor %}
                                <li>
                                    <a href="/{{class_id}}/exercises/add"><i class="fa fa-plus-circle"></i>  Add Exercise</a>
                                </li>
                              </ul>
                              <!-- /.nav-second-level -->
                        </li>
                        {% if user_type == 'TE' %}
                        <li>
                          <a href="#"><i class="fa fa-bar-chart"></i> Statistics<span class="fa arrow"></span></a>
                              <ul class="nav nav-second-level">
                                <li>
                                  <a href="/{{class_id}}/teacher/statistics/lecture"> Lectures</a>
                                </li>
                                <li>
                                  <a href="/{{class_id}}/teacher/statistics/quiz"> Quizzes</a>
                                </li>
                                <li>
                                  <a href="/{{class_id}}/teacher/statistics/exercise"> Exercises</a>
                                </li>
                              </ul>
                              <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if settings %}
                        {% if user_type == 'TE' %}
                        <li>
                            <a href="/settings/class/add"><i class="fa fa-plus fa-fw"></i> Add Class</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/settings/class/view"><i class="fa fa-eye fa-fw"></i> View Class</a>
                        </li>
                        {% if user_type == 'TE' %}
                        <li>
                            <a href="/settings/class/add_students"><i class="fa fa-user-plus fa-fw"></i> Add Students</a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="/settings/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
