{% extends "home/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

#youtube{
	min-height: 320px;
}
{% endblock %}
</style>



{% block jumbotron %}


<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Try Newnstein</h1>
		<p>
        Newnstein brings entertainment and education together…in the classroom! Lacking student engagement? Dreading the idea of your next Physics class? Sign up now for a limited time free trial of an app that will change the way you see Physics. Newnstein brings ideas to life through a cycle of learning, testing, and experimenting!
        <br>
		<a class="btn btn-lg btn-primary page-scroll" href="#pricing" role="button">Join Us</a>
		</p>
		</div>
		<div class='col-sm-6' >
			<iframe id="youtube" width="100%" height="100%"  src="https://www.youtube.com/embed/GKh8njXr9sM" frameborder="0" allowfullscreen></iframe>
 		</div>
		</div>
	</div>
 </div>
{% endblock %}




{% block content %}
<section class="bg-primary" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-faded"></i>
                        <h3>Premium Quality</h3>
                        <p class="text-faded">Our product is well developed and it can't be beat!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-faded" data-wow-delay=".1s"></i>
                        <h3>Ready on Demand</h3>
                        <p class="text-faded">Ready for use at a quick tap of your finger; just sign up and get started on the spot.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-faded" data-wow-delay=".2s"></i>
                        <h3>Up to Date & Relevant</h3>
                        <p class="text-faded">We are working closely with Alberta High Schools to keep our content up to date and relevant to the Alberta Curriculum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/dave_das.png' %}" class="img-responsive img-circle" alt="">
                        <h4>Dave Das</h4>
                        <p class="text-muted">Marketing Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/george_dimitrov.png' %}" class="img-responsive img-circle" alt="">
                        <h4>George Dimitrov</h4>
                        <p class="text-muted">Android Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/julie_labib.png' %}" class="img-responsive img-circle" alt="">
                        <h4>Juliana Labib</h4>
                        <p class="text-muted">Marketing Consultant</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="team-member">
                        <img src="{% static 'img/team/pedro_restrepo.png' %}" class="img-responsive img-circle" alt="">
                        <h4>Pedro Restrepo</h4>
                        <p class="text-muted">Software Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static 'img/team/tyler_tripathy.jpg' %}" class="img-responsive img-circle" alt="">
                        <h4>Tyler Tripathy</h4>
                        <p class="text-muted">Software Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>

    <section id="pricing" class="bg-dark">
        <div class="container text-center">
					<div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
						  $15
                          <small>per month</small>
                        </div>
                        <div class="type">
                            TEACHER
                        </div>
                        <ul>

                            <li><i class="fa fa-fw fa-user"></i>1 Teacher Account</li>
                            <li><i class="fa fa-fw fa-graduation-cap"></i>30 Student Accounts</li>
                            <li><i class="fa fa-fw fa-life-ring"></i>No set-up fee</li>
                        </ul>
                        <div class="pricing-footer">
                            *Please contact us for additional needs
                            <!--<a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-two popular">
                    <div class="price">
                      $699
                      <small>per month</small>
                    </div>
                    <div class="type">
                        SCHOOL
                    </div>
                    <ul>

											<li><i class="fa fa-fw fa-users"></i>50 Teacher Accounts</li>
											<li><i class="fa fa-fw fa-graduation-cap"></i>1,500 Student Accounts</li>
											<li><i class="fa fa-fw fa-life-ring"></i>One time set-up fee ($1,999)</li>
                    </ul>
                    <div class="pricing-footer">
                        *Please contact us for additional needs
                        <!--<a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>-->
                    </div>
                </div>
                     </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                 <div class="db-wrapper">
                <div class="db-pricing-eleven db-bk-color-three">
                    <div class="price">
                      $450
                      <small>per school/month</small>
                    </div>
                    <div class="type">
                        SCHOOL DISTRICT
                    </div>
                    <ul>

											<li><i class="fa fa-fw fa-users"></i>225 Teacher Accounts</li>
											<li><i class="fa fa-fw fa-graduation-cap"></i>8,000 Student Accounts</li>
											<li><i class="fa fa-fw fa-life-ring"></i>One time set-up fee ($9,999)</li>
                    </ul>
                    <div class="pricing-footer">
                        *Please contact us for additional needs
                        <!--<a href="#" class="btn db-button-color-square btn-lg">BOOK ORDER</a>-->
                    </div>
                </div>
                     </div>
            </div>

        </div>
            <div class="call-to-action">
                <h2>Bring Newnstein to your classrooms and the first year is on us!<super>*</super></h2>
                <small>*Applies to Teacher Plan only</small>
                <br>
                <a href="/accounts/register" class="btn btn-default btn-xl wow tada">Get Started Now!</a>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <hr class="primary">
                    <p>Have a question about Newnstein? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-youtube fa-3x wow bounceIn"></i>
                    <p><a href="https://www.youtube.com/channel/UCi5Tdjfbd_uXoT-2VMiigIw">Support Videos</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:support@newnstein.com">support@newnstein.com</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
