{% load staticfiles %}

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="{% static 'img/newnstein.png' %}" height="80"></img></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right navbar-collapse collapse">
                <li>
                    <a class="page-scroll" href="#page-top">
                        Home
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">
                        Services
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">
                        Team
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#pricing">
                        Pricing
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/accounts/login">
                        Login
                    </a>
                </li>
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
