{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.ui-autocomplete {
    background: #FFF;
    border-radius: 0px;
		list-style: none;
}

{% endblock %}
</style>


{% block jumbotron %}

{% endblock %}




{% block content %}
	<h2>{{ title }}</h2>
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="">Class</a></li>
			<li class="active">Add</li>
		</ol>

		{% if response %}
		{{response | safe}}
		{% endif %}

    <form method="POST" action="">{% csrf_token %}
			{{ form | crispy}}
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}
