{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.ui-autocomplete {
    background: #FFF;
    border-radius: 0px;
		list-style: none;
}

{% endblock %}
</style>

{% block content %}
	<h2>{{ title }}</h2>
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="">Class</a></li>
			<li class="active">View</li>
		</ol>
  </div>
  <div class="row">
    <form method="POST" action="">{% csrf_token %}
      <label>Last Name</label>
      <input type="text" name="last_name" class="form-control">
      <label>Email</label>
      <input type="email" name="email" class="form-control"><br>
      <button type="submit" class="btn btn-primary btn-lg pull-right"><i class="fa fa-fw fa-search"></i> Find Teacher</button>
    </form>
  </div>
    {% if teachers %}
    <br>
    <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>School</th>
          <th>City</th>
          <th class="text-center">Request</th>
      </thead>
      <tbody>
        {% for teacher in teachers %}
        <tr>
          <td>{{teacher.first_name}} {{teacher.last_name}}</td>
          <td>{{teacher.email}}</td>
          <td>{{teacher.school}}</td>
          <td>{{teacher.city}}</td>
          <td class="text-center"><a class="btn btn-primary" href="?student={{user.id}}&teacher={{teacher.id}}"><i class="fa fa-fw fa-envelope"></i> Request Access</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}

{% endblock %}
