{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.ui-autocomplete {
    background: #FFF;
    border-radius: 0px;
		list-style: none;
}

{% endblock %}
</style>


{% block jumbotron %}

{% endblock %}




{% block content %}
	<h2>{{ title }}</h2>
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="">Class</a></li>
			<li class="active">View</li>
		</ol>
  </div>
  <div class="row">
		{% if has_classes > 0 %}
    <ul class="list-group">
			{% for c in classes %}
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-{{c.id}}" data-toggle="detail-{{c.id}}" data-id="{{c.id}}">
                    <div class="col-xs-10">
                        {{c.name}}
                    </div>
                    <div class="col-xs-2"><i id="dropdown-chevron-{{c.id}}" class="fa fa-chevron-left pull-right"></i></div>
                </div>
                <div id="detail-{{c.id}}">
                    <hr></hr>
                        <div class="fluid-row">
													<h3>Lectures</h3>
													<table class="table">
														{% if c.lectures %}
															{% for l in c.lectures %}
															<tr><td>{{l.title}}</td></tr>
															{% endfor %}
														{% else %}
															<tr><td>No lectures have been added</td></tr>
														{% endif %}
													</table>

													<h3>Quizzes</h3>
													<table class="table">
														{% if c.quizzes %}
															{% for q in c.quizzes %}
															<tr><td>{{q.title}}</td></tr>
															{% endfor %}
														{% else %}
															<tr><td>No quizzes have been added</td></tr>
														{% endif %}
													</table>

													<h3>Exercises</h3>
													<table class="table">
														{% if c.exercises %}
															{% for e in c.exercises %}
															<tr><td>{{e.title}}</td></tr>
															{% endfor %}
														{% else %}
															<tr><td>No exercises have been added</td></tr>
														{% endif %}
													</table>

                        </div>
                </div>
            </li>
						{% endfor %}
        </ul>
				{% else %}
				<h3>No classes have been added</h3>
				<br>
				<a class="btn btn-primary" href="../request">Find Teacher</a>
				{% endif %}
  </div>
{% endblock %}

{% block javascript_footer %}
$(document).ready(function() {
    $('[id^=detail-]').hide();
    $('.toggle').click(function() {
        $input = $( this );
        $target = $('#'+$input.attr('data-toggle'));
        $target.slideToggle();
				$chevron = $('#dropdown-chevron-'+$input.attr('data-id'));
				$chevron.toggleClass("fa-chevron-left");
				$chevron.toggleClass("fa-chevron-down");
    });
});
{% endblock %}
