{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
  margin-bottom: 0px !important;
}
.jumbotron {
  color: #000;
  margin-bottom: 0px !important;
  padding-top: 12em;
}

html{
  font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
  overflow-x: hidden;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

.navbar-default {
  border-color: transparent !important;
}

{% endblock %}
</style>



{% block jumbotron %}

{% endblock %}




{% block content %}
<script>
$(document).ready(
  function() {
    //this variable will keep track of the chart
    var clientsChart;
    $("select#exercise_selector").change(function() {
      var determineexercise = $(this).val();
      var html = "";
      //this funtion will populate the table
      {% for exercise in exercise_time%}
      if(determineexercise == {{exercise.exercise_id.id}}) {
        html += "<tr><td>{{exercise.user_id.get_full_name}}</td><td>{{exercise.duration | date:'H:i:s'}} / {{exercise.visits}}</td></tr>";
      }
      {% endfor %}

      //this function will populate the graph
      var description = new Array();
      var myvalues = new Array();
      {% for exercise in exercise_time%}
      if(determineexercise == {{exercise.exercise_id.id}}) {
        description.push("{{exercise.user_id.get_full_name}}");
        myvalues.push("{{exercise.duration|date:'His'}}");
      }
      {% endfor %}
      var barData = {
        labels: description,
        datasets: [
          {
            fillColor: '#cdeffe',
            strokeColor: '#68cefd',
            highlightFill: '#68cefd',
            highlightStroke:'#03A9F4',
            data: myvalues
          },
        ]
      };

      //clear the values before writing. Might need to change to update instead of deleting/adding
      $('#exercise_table > tbody').empty();
      $('#empty_table').empty();
      if(clientsChart){
        clientsChart.destroy();
      }

      //no data was found. display appropriate data
      if (html=="") {
        $('#empty_table').append("There is no available data for this class");
      }
      //data was found, populate the table and graph
      else {
        $('#exercise_table > tbody').append(html);
        var context = document.getElementById('chart-stats').getContext('2d');
        var table_context = document.getElementById('statistics-table');
        context.canvas.width  = window.innerWidth/2;
        context.canvas.height = window.innerHeight/2;
        clientsChart = new Chart(context).Bar(barData, {
          scaleShowLabels: false,
          animation: true,
          responsive: true,
          barStrokeWidth : 10,
        });
      }
    })
  });
  </script>

  <h2>{{title}}</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-bar-chart-o fa-fw"></i> Exercise Time Statistics
      <div class="pull-right">
        <div class="btn-group">
          <label id="initial_select" name="initial_select"> Select one of the exercises</label>
          <select class="form-control" name="exercise_selector" id="exercise_selector">
            <option selected="selected" disabled>Select a exercise</option>
            {% for exercise in exercise_list %}
              {% for available_exercise in available_exercises %}
                {% if exercise.exercise_id == available_exercise.id%}
                  <option value="{{exercise.id}}">{{available_exercise.title}}</option>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="table-responsive" id="statistics-table">
              <table class="table table-bordered table-hover table-striped" id="exercise_table" name="exercise_table">
                <thead>
                  <tr>
                    <th>Student</th>
                    <th>Time / Visits</th>
                  </tr>
                </thead>
                <tbody id="table_body" name="table_body">
                </tbody>
              </table>
              <label id="empty_table" name="empty_table"></label>
            </div>
          </div>
          <div class="col-lg-8">
            <canvas id="chart-stats"></canvas>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
