{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
  margin-bottom: 0px !important;
}
.jumbotron {
  color: #000;
  margin-bottom: 0px !important;
  padding-top: 12em;
}

html{
  font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
  overflow-x: hidden;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

.navbar-default {
  border-color: transparent !important;
}

{% endblock %}
</style>



{% block jumbotron %}

{% endblock %}




{% block content %}
<script>
$(document).ready(
  function() {
    //this variable will keep track of the chart
    var clientsChart;
    $("select#lecture_selector").change(function() {
      var determineLecture = $(this).val();
      var html = "";
      //this funtion will populate the table
      {% for lecture in lecture_time%}
        if(determineLecture == {{lecture.lecture_id.id}}) {
          html += "<tr><td>{{lecture.user_id.get_full_name}}</td><td>{{lecture.lecture_id.title}}</td><td>{{lecture.duration | date:'H:i:s'}} / {{lecture.visits}}</td></tr>";
        }
      {% endfor %}

      //this function will populate the graph
      var description = new Array();
      var myvalues = new Array();
      {% for lecture in lecture_time%}
        if(determineLecture == {{lecture.lecture_id.id}}) {
          description.push("{{lecture.user_id.get_full_name}}");
          myvalues.push("{{lecture.duration|date:'His'}}");
        }
      {% endfor %}
      var barData = {
        labels: description,
        datasets: [
          {
            fillColor: '#cdeffe',
            strokeColor: '#68cefd',
            highlightFill: '#68cefd',
            highlightStroke:'#03A9F4',
            data: myvalues
          },
        ]
      };

      //clear the values before writing. Might need to change to update instead of deleting/adding
      $('#lecture_table > tbody').empty();
      $('#empty_table').empty();
      if(clientsChart){
        clientsChart.destroy();
      }

      //no data was found. display appropriate data
      if (html=="") {
        $('#empty_table').append("There is no available data for this class");
      }
      //data was found, populate the table and graph
      else {
        $('#lecture_table > tbody').append(html);
        var context = document.getElementById('chart-stats').getContext('2d');
        var table_context = document.getElementById('statistics-table');
        context.canvas.width  = window.innerWidth/2;
        context.canvas.height = window.innerHeight/2;
        clientsChart = new Chart(context).Bar(barData, {
          scaleShowLabels: false,
          animation: true,
          responsive: true,
          barStrokeWidth : 10,
        });
      }
    })
});
</script>

<h2>{{title}}</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Lecture Time Statistics
    <div class="pull-right">
      <div class="btn-group">
        <label id="initial_select" name="initial_select"> Select one of the lectures</label>
        <select class="form-control" name="lecture_selector" id="lecture_selector">
          <option selected="selected" disabled>Select a lecture</option>
          {% for lecture in nav_list %}
          <option value="{{lecture.id}}">{{lecture.title}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="table-responsive" id="statistics-table">
            <table class="table table-bordered table-hover table-striped" id="lecture_table" name="lecture_table">
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Lecture</th>
                  <th>Time / Visits</th>
                </tr>
              </thead>
              <tbody id="table_body" name="table_body">
              </tbody>
            </table>
            <label id="empty_table" name="empty_table"></label>
          </div>
        </div>
        <div class="col-lg-8">
          <canvas id="chart-stats"></canvas>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
