
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>

  <style type="text/css">
    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 300;
      src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 600;
      src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf') format('truetype');
    }

    @media only screen and (max-device-width: 480px) {
      body[yahoofix] .main-container {
        width: 100% !important;
        padding: 5px;
      }
      body[yahoofix] .m-full-width {
        width: 100% !important;
      }
      body[yahoofix] .m-full-image {
        width: 100% !important;
        height: auto !important;
      }
    }
  </style>
</head>

<body bgcolor="#FDFDFD" style="font-family:'Source Sans Pro', Helvetica, Arial, sans-serif; font-size:14px; line-height:20px; width:100% !important; -ms-text-size-adjust:none !important; background:#fdfdfd; margin:0; " yahoofix="true">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td align="center">
          <table cellpadding="0" cellspacing="0" class="main-container" width="640">
            <tbody>
              <tr>
                <td align="left" style="padding: 20px;"><span contenteditable="false" tabindex="-1"><span class="sg-image" data-widget="sgimage"><img src="http://newnstein.com/static/static_root/img/email/newnstein_blue.png" height="40"></span></span>
                </td>
              </tr>
              <tr>
                <td>
                  <table bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" class="m-full-width" style="border-collapse:collapse; background:#fff; border:1px solid #ededed; " width="100%">
                    <tbody>
                      <tr>
                        <td width="640">
                          <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="100%">
                            <tbody>
                              <tr>
                                <td align="center" class="td-p"><span class="sg-image" ><img class="m-full-image" height="300" src="http://newnstein.com/static/static_root/img/email/welcome.png" style="width: 638px; height: 300px;" width="638"></span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding:30px 30px 30px; ">
                          <div class="mktEditable" id="body1">
                            <p style="font-size: 15px; font-weight: 300; color: #8c8c8c; line-height: 1.55; margin: 0px; text-align: left;"><strong>You've been added to a class!</strong></p>
                            <p style="font-size: 15px; font-weight: 300; color: #8c8c8c; line-height: 1.55; margin: 0px; text-align: left;">
                              <br> Click the link below to be added to the following class:
                              <br>
                              <br>
                            </p>
                            <p style="font-size: 15px; font-weight: 300; color: #8c8c8c; line-height: 1.55; margin: 0px 25px; text-align: left;">
                              <b>Class:</b> {{class_name}}<br>
                              <b>Teacher:</b> {{teacher_name}}<br>
                            </p>
                            <a href="{{url}}">{{url}}</a>
                            <p style="font-size: 15px; font-weight: 300; color: #8c8c8c; line-height: 1.55; margin: 0px; text-align: left;">
                              <br> If there are any issues please send us an email.
                              <br><a href="support@newnstein.com">support@newnstein.com</a>
                              <br><br>
                            <p style="font-size: 15px; font-weight: 300; color: #8c8c8c; line-height: 1.55; margin: 0px; text-align: left;">Thanks,
                              <br> The Newnstein Team</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="padding-top: 20px; padding-bottom: 50px;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-top-width: 1px; border-top-style: dotted; border-top-color: #e1e1e1; color: #a5a5a5;" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="padding-top: 20px;"><span contenteditable="false" tabindex="-1"><span class="sg-image" data-widget="sgimage"><img src="http://newnstein.com/static/static_root/img/email/newnstein_blue.png" height="40"></span></span>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="font-weight: 300; padding: 10px 0 30px;">&copy; 2016 Newnstein</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding-top: 10px;">
                          <table border="0" cellpadding="0" cellspacing="0" width="300">
                            <tbody>
                              <tr>
                                <td align="center" width="55"><a class="bottom-links" href="#" style="color: #a5a5a5; font-weight: 300; text-decoration: none;">Twitter</a></td>
                                <td align="center" width="68"><a class="bottom-links" href="#" style="color: #a5a5a5; font-weight: 300; text-decoration: none;">Facebook</a></td>
                                <td align="center" width="67"><a class="bottom-links" href="#" style="color: #a5a5a5; font-weight: 300; text-decoration: none;">LinkedIn</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
