{% extends "other/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar{
    height: 105px !important;
}

body{
	overflow-x: hidden;
}

.panel-heading{
	background-color: #03A9F4!important;
}

.panel-title{
	color: #fff;
}

.forgot-pass{
float:right; 
font-size: 80%; 
position: relative; 
top:-10px;
color: #fff!important;

}

{% endblock %}
</style>

{% block content %}
<div class="container">
    <div id="loginbox" style="margin-top:150px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Login</div>
                    <div class="forgot-pass"><a href="#">Forgot password?</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                                    <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username or Email">
                                </div>

                        <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                                    <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                </div>



                        <div class="input-group">
                                  <div class="checkbox">
                                    <label>
                                      <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                    </label>
                                  </div>
                                </div>


                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->

                                <div class="col-sm-12 controls">
                                  <a class="btn btn-lg btn-primary" href="/dashboard" role="button">Login</a>
<!--                                   <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a> -->

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        Don't have an account!
                                    <a href="#" >
                                        Sign Up Here
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
    </div>
    
</div>
{% endblock %}