{% extends "registration/base.html" %}
{% load i18n %}

{% block head_title %}{{title}}{% endblock %}

{% block content %}
<p>{% trans "Activation Expired." %}</p>
  <form action="/accounts/activate/expired/{{activation_key}}">
    <input type="submit" value="{% trans 'Resend Activation' %}">
  </form>
{% endblock %}
