{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Newnstein | {% block head_title %}Home{% endblock %}</title>

    {% block head_css %}
    {% endblock %}

    {% include 'head_css.html' %}

      <style>
      {% block style %}{% endblock %}

      .navbar{
		    height: 105px !important;
		}

		body{
			overflow-x: hidden;
		}

		.container{
		 padding-top:150px;
		}
      </style>



  </head>

  <body id="page-top">
  {% include 'registration/navbar.html' %}


    <div class="container">

      {% if messages %}
      <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message|safe }}
          </div>
          {% endfor %}
      </div>
      {% endif %}

      {% block content %}

      {% endblock %}


    </div> <!-- /container -->

    {% include "javascript.html" %}
    <script>
    {% block javascript_inline %}

    {% endblock %}
  </script>

  {% block footer_javascript_page %}
  {% endblock %}
  </body>


</html>
