{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
	<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>! | {% trans "Not a member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
  <input class="btn btn-lg btn-primary" type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
