{% load staticfiles %}

   <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll"><img src="{% static 'img/newnstein.png' %}" height="80"></img></a>
            </div>
            <!-- /.navbar-header -->


            <!-- /.navbar-top-links -->
        </nav>
