{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}

<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input type="submit" class="btn btn-primary btn-lg" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
