{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Register{% endblock %}

{% block style %}
  .square{
    box-sizing: content-box;
  }
{% endblock %}

{% block head_css %}
<link href="{% static 'css/slider/normalize.css' %}" rel="stylesheet">
<link href="{% static 'css/slider/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h1>Register Now</h1>
{% if response %}
{{response | safe}}
{% endif %}
<form id="user-reg-form" method="POST" action="">
  {% csrf_token %}
  {{ form|crispy }}
  {% trans "Already a member?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a><br><br>
  {% if not teacher and not school%}
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Submit' %}" />
  {% endif %}
</form>

{% if teacher or school %}

  {% if teacher %}
  <table class="table">
    <thead>
    <tr><td colspan="3"><label style="font-size:20px; margin-top:10px;">Choose a subscription plan</label><img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png"></th></tr>
    </thead>
    <tr>
      <td>
        <span id="teacher_monthly" class="btn btn-primary sub-plan"><i class="fa fa-check"></i> Monthly $5.99</span>
      </td>
      <td>
        <span id="teacher_yearly" class="btn btn-lightblue sub-plan"><i class="fa fa-square-o"></i> Yearly $39.99</span>
      </td>
      <td>
        <span id="teacher_lifetime" class="btn btn-lightblue sub-plan"><i class="fa fa-square-o"></i> Lifetime $149.99</span>
      </td>
    <tr>
  </table>
  {% else %}
</div>
<div class="col-sm-12">
    <div class="range-holder">
      <div id="pr-slider" class="dragdealer">
        <div class="stripe">
          <div id="green-highlight"></div>
          <div id="orange-highlight"></div>
          <div id="blue-highlight"></div>
          <div class="handle">
            <div class="infobox">
              <div class="titlebar"><span id="plan-holder"></span> <span id="device-holder"></span></div>
              <div class="innerbox">
  			      <div class="info-price"></div>
            </div>
          </div>
          <div class="square">
            <span class="value"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  {% endif %}
<form action="" method="POST" id="payment-form">
    <span class="payment-errors"></span>

    <div class="form-row form-group">
      <label for="card_number" class="control-label  requiredField">Card Number<span class="asteriskField">*</span> </label>
      <input class="form-control" type="text" size="20" data-stripe="number"/>
    </div>

    <div class="form-row form-group">
        <label for="cvc" class="control-label  requiredField">CVC<span class="asteriskField">*</span> </label>
        <input class="form-control" type="text" size="4" data-stripe="cvc"/>
    </div>

    <div class="form-row form-group">
      <label for="expiration" class="control-label  requiredField">Expiration<span class="asteriskField">*</span> </label>
      <div class="input-group">
        <input type="text" size="2" class="form-control" data-stripe="exp-month" placeholder="MM"/>
        <span class="input-group-addon"> / </span>
        <input type="text" class="form-control" size="4" data-stripe="exp-year" placeholder="YYYY"/>
    </div>
    </div>

    <button id="stripe-submit" type="submit" class="btn btn-primary btn-lg">Submit Payment</button>
  </form>
{% endif %}
</div>
{% endblock %}

{% block javascript_inline %}
$(document).ready(function() {
    $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
});
{% endblock %}

{% if teacher or school %}
  {% block footer_javascript_page %}
      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
      <script type="text/javascript" src="{% static 'js/slider/index.js' %}"></script>
      <script type="text/javascript">
        Stripe.setPublishableKey('{{ STRIPE_PUBLISHABLE_KEY }}');

        var stripeResponseHandler = function(status, response) {
          var $regform = $('#user-reg-form');
          var $form = $('#payment-form');
          if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
          } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $regform.append($('<input type="hidden" name="stripeToken" />').val(token));
            // and re-submit
            $regform.get(0).submit();
          }
        };

        jQuery(function($) {
          $('#payment-form').submit(function(event) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
          });
          {% if teacher %}
          $("#id_plan").val("teacher_monthly");
          {% endif %}
          $('.sub-plan').click(function(){
              active = $(this).hasClass("btn-primary");
              if(!active){
                $('.btn-primary').removeClass('btn-primary').addClass('btn-lightblue');
                $('.fa-check').removeClass('fa-check').addClass('fa-square-o');
                $("#stripe-submit").removeClass('btn-lightblue').addClass('btn-primary');
                $(this).removeClass('btn-lightblue').addClass('btn-primary');
                $(this).children( '.fa-square-o' ).removeClass('fa-square-o').addClass('fa-check');
                $("#id_plan").val($(this).attr("id"));
              }
          });
        });
      </script>
  {% endblock footer_javascript_page %}
{% endif %}
