{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.ui-autocomplete {
    background: #FFF;
    border-radius: 0px;
		list-style: none;
}

{% endblock %}
</style>


{% block jumbotron %}

{% endblock %}




{% block content %}
	<h2>{{ title }}</h2>
	<div class="row">
		{% for lecture in lecture_data %}
		<ol class="breadcrumb">
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="{% url 'dashboard.views.view_topic' topic=lecture.topic class_id=class_id%}">{{lecture.topic}}</a></li>
			<li><a href="{% url 'dashboard.views.view_lecture' id=lecture.id class_id=class_id%}">{{lecture.title}}</a></li>
			<li class="active">Edit</li>
		</ol>
		{% endfor %}

		{% if response %}
		{{response | safe}}
		{% endif %}

    <form method="POST" enctype="multipart/form-data" action="">{% csrf_token %}
			{{ form | crispy}}

        <script>
                 CKEDITOR.replace( 'content' );
         </script>
				 <script type="text/javascript">
				 	$(function() {
				 			var availableTags = [
								{%for topic in topics%}
				 					"{{ topic }}",
								{% endfor %}
				 			];
				 			$( "#id_topic" ).autocomplete({
				 				source: availableTags
				 			});
				 	});
				 </script>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}
