{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}
{% endblock %}
</style>



{% block jumbotron %}

{% endblock %}

{% block content %}
	<h2>Dashboard</h2>
	<div class="container">
			<form data-toggle="validator" id="editLecture" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<input type="hidden" class="form-control" id="id" name="id" value="{{edit_lecture.id}}">
					<label for="topic">Topic:</label><input type="text" class="form-control" id="topic" name="topic" value="{{edit_lecture.topic}}" required>
					<label for="title">Title:</label><input type="text" class="form-control" id="title" name="title" value="{{edit_lecture.title}}" required>
					<label for="content">Lecture Information:</label><textarea class="form-control" rows="8" id="content" name="content" required>{{edit_lecture.content | safe}}</textarea>
					<script>
									 CKEDITOR.replace( 'content' );
					 </script>
					<br>
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</form>
</div>
{% endblock %}
