<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{{lecture.title}}</title>
  <style type="text/css">
  @page {
    size: A4;
    margin: 1cm;
    @frame footer {
      -pdf-frame-content: footerContent;
      bottom: 0cm;
      margin-left: 9cm;
      margin-right: 9cm;
      height: 1cm;
    }
  }
  </style>
</head>
<body>
  <div>
    <h3> <strong>Title</strong>: {{lecture.title}} </h3>
    <h3> <strong>Topic</strong>: {{lecture.topic}} </h3>
    <h3> <strong>Description</strong>: {{lecture.description}} </h3>
    <hr>
    <p> {{lecture.content | safe}} </p>
  </div>
  <div id="footerContent">
    {%block page_foot%}
    Page <pdf:pagenumber>
    {%endblock%}
  </div>
</body>
</html>
