{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
	border-color: transparent !important;
}

.btn-delete {
	background-color: #F50505;
	color: #FFF;
	left: 54%;
	position: absolute;
}

.btn-download {
	background-color: #34A853;
	color: #FFF;
	position: absolute;
	left: 46%;
}

.btn-lecture-next {
	background-color: #3366ff;
	color: #FFF;
	left: 100%;
}

.btn-lecture-prev {
	background-color: #3366ff;
	color: #FFF;
	left: 0%;
}

@media (max-width: 768px){
	.btn-delete {
		left: 62%;
		position: absolute;
	}

	.btn-download {
		position: absolute;
		left: 38%;
	}
}

.btn-edit {
	background-color: #03A9F4;
	color: #FFF;
	{% endblock %}
	</style>



	{% block jumbotron %}

	{% endblock %}




	{% block content %}
	<h2>{{title}}</h2>
	<ol class="breadcrumb">
	  <li><a href="/dashboard">Dashboard</a></li>
	  <li><a href="{% url 'dashboard.views.view_topic' topic=lecture_data.topic class_id=class_id%}">{{lecture_data.topic}}</a></li>
	  <li class="active">{{lecture_data.title}}</li>
	</ol>
	<div class="row" style="clear: both;">
		<div class="col-lg-12">
			{% if next_lecture_data%}
					<a href="{% url 'dashboard.views.view_lecture' id=next_lecture_data.id class_id=class_id%}" class="btn btn-lecture-next" style="float: right; margin-right: 10px"><span class="hidden-xs">Next Lecture</span> <i class="fa fa-chevron-right"></i></a>
				{% endif %}
				{% if user_type == 'TE' %}
					<button type="button" class="btn btn-delete" data-toggle="modal" data-target="#myModal" title="Delete Lecture"><i class="fa fa-trash-o"></i></button><a href="{% url 'teacher.views.add_lecture' id=lecture_data.id class_id=class_id%}" class="btn btn-edit" style="	left: 50%; position: absolute;" title="Edit Lecture"><i class="fa fa-pencil-square-o"></i></a>
				{% endif %}
					<a href="{% url 'dashboard.views.export_lecture' id=lecture_data.id class_id=class_id%}" class="btn btn-download" style="float: right; margin-right: 10px" target="_blank" title="Export as PDF"><i class="fa fa-download"></i></a>
				{% if prev_lecture_data%}
					<a href="{% url 'dashboard.views.view_lecture' id=prev_lecture_data.id class_id=class_id%}" class="btn btn-lecture-prev" style="margin-right: 10px"><i class="fa fa-chevron-left"></i> <span class="hidden-xs">Previous Lecture</span></a>
				{% endif %}
				<h3> <strong>Title</strong>: {{lecture_data.title}} </h3>
				<h3> <strong>Topic</strong>: {{lecture_data.topic}} </h3>
				<h3> <strong>Description</strong>: {{lecture_data.description}} </h3>

				{% if lecture_data.attachments %}
				<h3> <strong>Support Document</strong>: <a href="{% url 'dashboard.views.attachments_lecture' id=lecture_data.id class_id=class_id%}" download><font size="4">{{lecture_data.attachments}}</font></a></h3>
				{% endif %}
		<hr>
		<p> {{lecture_data.content | safe}} </p>

		<!-- Delete Lecture Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-body">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Are you sure you want to delete this lecture?</h4>
	        </div>
					<div class="modal-footer">
						 <a href="{% url 'teacher.views.delete_lecture' id=lecture_data.id class_id=class_id %}" class="btn btn-delete">Yes, Delete</a><button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
			<!-- End of the Modal -->

		</div>
	</div>
	{% endblock %}
