{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
	{% block style %}

	html{
		font: 16px/24px "Arial","Helvetica",sans-serif;
	}

	body{
		overflow-x: hidden;
	}

	{% endblock %}
</style>

{% block jumbotron %}

{% endblock %}


{% block content %}
	<h2>{{title}}</h2>
	<ol class="breadcrumb">
	  <li><a href="/dashboard">Dashboard</a></li>
	  <li class="active">{{topic}}</li>
	</ol>
	<div class="row" style="clear: both;">
		<div class="col-lg-12">
			{% for lecture in lecture_data%}
			<h3> <strong>Title</strong>: <a href="{% url 'dashboard.views.view_lecture' id=lecture.id class_id=class_id %}">{{lecture.title}}</a></h3>
			<h3> <strong>Description</strong>: {{lecture.description}} </h3>
			<hr>
			{% endfor %}
		</div>
	</div>
{% endblock %}
