{% extends "dashboard/base.html" %}
{% load staticfiles %}


{% block head_title %}Newnstein | {{ title }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	color: #000;
	margin-bottom: 0px !important;
	padding-top: 12em;
}

html{
	font: 16px/24px "Arial","Helvetica",sans-serif;
}

body{
	overflow-x: hidden;
}

.navbar-default {
    border-color: transparent !important;
}

.btn-delete {
	background-color: #F50505;
	color: #FFF;
{% endblock %}
</style>

{% block jumbotron %}

{% endblock %}


{% block content %}

  <h2>{{title}}</h2>

  <div id="content">
      <div class="exerciseInstructions">
        <p>
          An electron is about to enter in between two plates at the center between both, so that the electron's distance from the bottom plate and the top plate is equal. Please calculate the starting velocity required in order for the electron to land where the goal is. Use the following information to calculate the velocity in the X direction.
          <br>
        </p>
      </div>
        <p>
          Electric Field Charge: <label id="ElectricFieldCharge"></label>&nbsp;&nbsp;
          Electron Charge: <label id="ElectronCharge">1.60 E-19 C</label>&nbsp;&nbsp;
          Electron Mass: <label id="ElectronMass">9.11 E-31 Kg</label>
          <br>
          X distance from electron to goal: <label id="ElectronXDistance"></label>&nbsp;&nbsp;
          Height from bottom plate to electron: <label id="ElectronYDistance"></label>&nbsp;&nbsp;
          <br>
          Starting X Velocity: <input type="text" style="color: #000000;" id="startingVelocityX" value="0" size="5"> m/s
          <button type="button" id="startGame" style="color: #000000;">Submit</button>
          <label id="incorrectXVelLabel" style="color: #ff0000;"></label>
          <label id="correctXVelLabel" style="color: #00cc00;"></label>
        </p>
      <div class="exercise-wrap">
        <div class="display">
          <div id="viewport" style="height: 100%;">
            <script>
                Physics(function (world) {
                    var startedGame = false;
                    var viewportWidth = document.getElementById("viewport").offsetWidth;
                    var viewportHeight = document.getElementById("viewport").offsetHeight;
                    
                    //The function to randomly choose the x and y distance; they go from 5(inclusive) to 10(inclusive)
                    var yMax = 12
                    var yMin = 8
                    var yDistance = parseInt(Math.random() * ((yMax + 1) - yMin) + yMin);
                    
                    var xMax = 10
                    var xMin = 5
                    var xTime = 2.0
                    var xDistance = parseInt(Math.random() * ((xMax + 1) - xMin) + xMin);
                  
                    //field charges for y = 8m,9m,10m,11m,12m
                    var fieldCharge = [1.13875,1.28109375,1.4234375,1.56578125,1.708125]
                    
                    //Calculating the answer the student needs to enter
                    var xVelocityAnswer = parseFloat(xDistance/xTime);
                  
                    document.getElementById("ElectronXDistance").innerHTML = xDistance+' m';
                    document.getElementById("ElectronYDistance").innerHTML = yDistance+' m';
                  
                    document.getElementById("ElectricFieldCharge").innerHTML = fieldCharge[yDistance-8]+' E-11 N/C';
                    
                    // bounds of the window
                    var viewportBounds = Physics.aabb(0, 0, viewportWidth, viewportHeight),
                        renderer;

                    // create a renderer
                    renderer = Physics.renderer('canvas', {
                        el: 'viewport'
                    }).resize(viewportWidth,viewportHeight);
                    
                    //Electron variables
                    var electron;
                    var electronRadius = renderer.height/20;
                    var electronDiameter = electronRadius*2;
                    
                    //Plate variables
                    var plates = [];
                    var platesWidth = renderer.width - electronDiameter;
                    var platesHeight = renderer.height/10;
                    
                    //Goal variables
                    var goal;
                    var goalWidth = renderer.width/15;
                    var goalHeight = platesHeight;
                  
                    //Stats on user attempts at exercise
                    var attempts = 0,correct = 0;
                    
                    // constrain objects to these bounds
                    edgeBounce = Physics.behavior('edge-collision-detection', {
                        aabb: viewportBounds,
                        restitution: 1.0,
                        cof: 0.0
                    });

                    // resize events
                    window.addEventListener('resize', function () {

                        // update the boundaries
                        viewportBounds = Physics.aabb(0, 0, renderer.width, renderer.height);
                        edgeBounce.setAABB(viewportBounds);
                        
                        //Electron resizing
                        electronRadius = renderer.height/20;
                        electronDiameter = electronRadius * 2;
                        electron.geometry.radius = electronRadius;
                        electron.state.pos = new Physics.vector(electronRadius, renderer.height / 2);
                      
                        electron.view.width = electronDiameter;
                        electron.view.height = electronDiameter;
                      
                        //Positive plates resizing
                        platesWidth = renderer.width;
                        platesHeight = renderer.height/10;
                      
                        for(i = 0; i < plates.length; i++) {
                          plates[i].geometry.width = platesWidth-electronDiameter;
                          plates[i].geometry.height = platesHeight;
                          
                          plates[i].view.width = platesWidth-electronDiameter;
                          plates[i].view.height = platesHeight;
                        }
                      
                        plates[0].state.pos = new Physics.vector(platesWidth/2+electronDiameter,platesHeight);
                        plates[1].state.pos = new Physics.vector(platesWidth/2+electronDiameter,renderer.height - platesHeight);
                      
                        //Goal Resizing
                        goalWidth = renderer.width/15;
                        goalHeight = platesHeight;
                      
                        goal.state.pos = new Physics.vector(renderer.width - goalWidth, renderer.height - goalHeight);
                      
                        goal.view.width = goalWidth;
                        goal.view.height = goalHeight;

                    }, true);
                  
                    // add the renderer
                    world.add(renderer);
                    
                    //Create and setup the goal object
                    goal = Physics.body('rectangle', {
                        width: goalWidth,
                        height: goalHeight+1,
                        x: renderer.width - goalWidth,
                        y: renderer.height - goalHeight,
                        mass: 1,
                        label: 'goal',
                        treatment: 'static',
                        styles: {
                            src: '{% static "img/exercises/electron_proton/Goal.png" %}',
                            width: electronDiameter,
                            height: electronDiameter
                        }
                    });
                    
                    //Create and setup the electron object
                    electron = Physics.body('circle', {
                        x: electronRadius,
                        y: renderer.height / 2,
                        mass: 1,
                        radius: electronRadius,
                        label: 'electron',
                        styles: {
                            src: '{% static "img/exercises/electron_proton/Electron.png" %}',
                            width: electronDiameter,
                            height: electronDiameter
                        }
                    });
                    
                    //Put the electron to sleep so that it won't move
                    electron.sleep(true);
                  
                    //Creating and setting up the plate objects
                    plates.push(Physics.body('rectangle', {
                        width: platesWidth,
                        height: platesHeight,
                        x: platesWidth/2 + electronDiameter,
                        y: platesHeight,
                        styles: {
                            src: '{% static "img/exercises/electron_proton/NegativePlate.png" %}',
                            width: platesWidth,
                            height: platesHeight
                        },
                        treatment: 'static'
                      }));
                    
                    plates.push(Physics.body('rectangle', {
                        width: platesWidth,
                        height: platesHeight,
                        x: platesWidth/2 + electronDiameter,
                        y: renderer.height - platesHeight,
                        styles: {
                            src: '{% static "img/exercises/electron_proton/PositivePlate.png" %}',
                            width: platesWidth,
                            height: platesHeight
                        },
                        treatment: 'static'
                      }));
                  
                    //Add items to the world
                    world.add(electron);
                    world.add(plates);
                    world.add(goal);
                    
                    // add things to the world
                    world.add([
                        Physics.behavior('body-impulse-response'),
                        Physics.behavior('body-collision-detection'),
                        Physics.behavior('constant-acceleration'),
                        Physics.behavior('sweep-prune'),
                        edgeBounce
                    ]);
                    
                    //Render the world in a paused state until the user starts the game
                    world.render();
                  
                    world.on('step',function(){
                            world.render();
                        });
                    
                    // query to find a collision of the bullet
                    var query = Physics.query({
                        $or: [
                            { bodyA: { label: 'electron' }, bodyB: { label: 'goal' } }
                            ,{ bodyB: { label: 'electron' }, bodyA: { label: 'goal' } }
                        ]
                    });
                    
                    //Turning on collision detection, depending on collision we have different logic
                    world.on('collisions:detected', function(data, e) {
                            var found = Physics.util.find( data.collisions, query );
                      
                            //On collisions we want to restart the game
                            electron.sleep(true);
                            electron.state.pos = new Physics.vector(electronRadius, renderer.height / 2);
                            electron.state.vel.zero();
                            electron.state.angular.vel = 0;
                            startedGame = false;
                        });
                    
                    // subscribe to ticker to advance the simulation
                    Physics.util.ticker.on(function( time ) {
                          world.step( time );
                        });
                     
                  
                    //When the user clicks start game then start the game
                    document.getElementById("startGame").addEventListener("click", function(){  
                      //If game has started then we don't want this to run
                      if(startedGame == false) {
                          document.getElementById('correctXVelLabel').innerHTML = '';
                        
                          //Set the electron velocity
                          var xVelocity = parseFloat(document.getElementById('startingVelocityX').value/1.0);
                          
                          //Check the starting values to make sure they are valid, if invalid we display the correct labels
                          if(isNaN(xVelocity) && xVelocity != 0)
                            document.getElementById('incorrectXVelLabel').innerHTML = 'Invalid!';
                          else
                            document.getElementById('incorrectXVelLabel').innerHTML = '';            
                          
                          //If the x velocity is a numerical value then we start the game
                          if(!isNaN(xVelocity) || xVelocity == 0) {
                            startedGame = true;
                            attempts++;
                            var velocity;
                            var yAcceleration = 0.0004
                            
                            //If the velocity entered is correct then say they entered the correct value, add this to the correct count and then set the elctron velocity to the correct velocity needed for the simulation to work in physicsJS
                            if(xVelocity == xVelocityAnswer) {
                              document.getElementById('correctXVelLabel').innerHTML = 'Correct!';
                              velocity = (renderer.width-electronRadius)/parseFloat(Math.sqrt(((renderer.height/2)-(platesHeight*1.5))/(0.5*yAcceleration)));
                              correct++;
                            }
                            else if(xVelocity > xVelocityAnswer) {
                              //If the answer is incorrect then change the label accordingly and adjust the velocity to show that they recieved a lower number or higher number
                              document.getElementById('incorrectXVelLabel').innerHTML = 'Incorrect, please try again...';
                              velocity = (renderer.width-electronRadius)/parseFloat(Math.sqrt(((renderer.height/2)-(platesHeight*1.5))/(0.5*yAcceleration))) + .3;
                            }
                            else if(xVelocity < xVelocityAnswer) {
                              document.getElementById('incorrectXVelLabel').innerHTML = 'Incorrect, please try again...';
                              velocity = (renderer.width-electronRadius)/parseFloat(Math.sqrt(((renderer.height/2)-(platesHeight*1.5))/(0.5*yAcceleration))) - .3;
                            }
                            
                            //Set the electron's velocity and wake it up
                            electron.state.vel.set(velocity,0);
                            electron.sleep(false);
                          }
                        }                      
                    });
                });
              </script>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
